:root {
    --bg-main: #0f121d;
    --bg-header: #141928;
    --accent-blue: #00d1ff;
    --accent-green: #00ffa3;
    --text-main: #dcdce6;
    --text-muted: #788296;
}

body {
    background-color: var(--bg-main);
    color: var(--text-main);
    font-family: 'Inter', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header {
    background-color: var(--bg-header);
    width: 100%;
    padding: 15px 0; 
    border-bottom: 1px solid #1a2035;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

.logo {
    color: white;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 0;
}

.motto {
    color: var(--accent-blue);
    font-size: 0.8rem;
    letter-spacing: 5px;
    font-weight: 700;
    margin-top: 5px;
}

.subtitle {
    color: var(--text-muted);
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-top: 20px;
}

.container {
    max-width: 800px;
    padding: 60px 20px;
}

.hero-text {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 40px;
}

.highlight {
    color: var(--accent-blue);
    font-weight: bold;
}

.cta-button {
    background-color: var(--accent-green);
    color: var(--bg-main);
    padding: 20px 40px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: transform 0.2s, box-shadow 0.2s;
    display: inline-block;
}

.cta-button:hover {
    transform: translateY(-3px);
    background-color: #00e692;
    box-shadow: 0 10px 20px rgba(0, 255, 163, 0.2);
}

.preview-img {
    width: 100%;
    max-width: 450px;
    border: 1px solid #1a2035;
    border-radius: 12px;
    margin-top: 50px;
    box-shadow: 0 30px 60px rgba(0,0,0,0.6);
}

.features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
    text-align: left;
}

.feature-item {
    background: var(--bg-header);
    padding: 25px;
    border-radius: 8px;
    border-left: 4px solid var(--accent-blue);
}


/* RWD - poprawka na telefony */
@media (max-width: 600px) {
    .features {
        grid-template-columns: 1fr;
    }
    .logo {
        font-size: 2.2rem;
    }
}
